.background-square {
    
    position: absolute;
    width: 390px; 
    height: 720px;
    left: 35px;
    top: 155px;
  
    background: #FFFFFF;
    border-radius: 40px 0px 0px 40px;
  
    /* Envia el rectángulo al fondo */
    z-index: -1; /* Un valor negativo para asegurar que esté detrás de otros elementos */
}


  .caja {
    position: relative; 
  }
  