<body>
  <div>

    <img src="assets/logo/playToKeyLogo.png" alt="playToKeyLogo">


      <h1 class="nombre">Nombre</h1>
      <app-textbox-1 class="nombre-textbox"></app-textbox-1>

      <h1 class="apellido">Apellido</h1>
      <app-textbox-1 class="apellido-textbox"></app-textbox-1>

      <h1 class="codigo-postal">Código Postal</h1>
      <app-textbox-1 class="codigo-postal-textbox"></app-textbox-1>

      <h1 class="correo">Correo</h1>
      <app-textbox-1 class="correo-textbox"></app-textbox-1>

      <h1 class="contraseña">Contraseña</h1>
      <app-textbox-1 class="contraseña-textbox"></app-textbox-1>

      <app-button></app-button>

      <app-cuadrado></app-cuadrado>
  </div>
</body>

