
.nombre {

  width: 221px;
  height: 30px;
  left: 80px;
  top: 165px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #33312E;
  margin-bottom: 50px;
}

.apellido {

  width: 222px;
  height: 31px;
  left: 80px;
  top: 270px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #33312E;
  margin-bottom: 50px;
}

.codigo-postal {

  width: 213px;
  height: 30px;
  left: 80px;
  top: 370px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #33312E;
  margin-bottom: 50px;
}

.correo {

  width: 213px;
  height: 30px;
  left: 80px;
  top: 478px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #33312E;
  margin-bottom: 50px;
}

.contraseña {

  width: 213px;
  height: 30px;
  left: 80px;
  top: 590px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #33312E;
  margin-bottom: 50px;
}


ion-content{
  --background: #33312E;
}

