<div class="relative w-full">
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <img src="../../../../assets/search.svg" alt="" width="20" class="hover:bg-anaranjado">
  </div>
  <input type="text" id="simple-search" class=" border text-gray-900 text-base rounded-full focus:ring-anaranjado focus:border-anaranjado block w-full ps-10 p-2.5   dark:border-gray-600 dark:placeholder-gray-400 dark:text-darkGray dark:focus:ring-blue-500 dark:focus:border-blue-500 search-bar bg-palidGray font-inter font-semibold" placeholder="Search" required  />
</div>