<div>
  <button
      class="relative group transition-all duration-200 focus:overflow-visible w-max h-max p-2 overflow-hidden flex flex-row items-center justify-center bg-anaranjado gap-2 rounded-full border border-zinc-200">
      <span class="font-inter font-semibold">
        Categorias
      </span>
      <svg class="rotate-90 group-focus:rotate-180" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
        viewBox="0 0 24 24">
        <path fill="currentColor"
          d="m12 10.8l-3.9 3.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7l4.6-4.6q.3-.3.7-.3t.7.3l4.6 4.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275z" />
      </svg>

<!-- en esta parte van las opciones del dropdown -->
      
      <div
        class="absolute shadow-lg -bottom-40 left-0 w-full h-max p-2 bg-anaranjado border border-zinc-200 rounded-lg flex flex-col gap-2">
        <span class="flex flex-row gap-2 items-center hover:bg-white p-2 rounded-lg hover:font-inter hover:font-semibold">
          
          <p class="hover:text-anaranjado font-inter font-semibold">Light</p>
        </span>
        <span class="flex flex-row gap-2 items-center hover:bg-white p-2 rounded-lg ">
         
          <p class="hover:text-anaranjado font-inter font-semibold">Dark</p>
        </span>
        <span class="flex flex-row gap-2 items-center hover:bg-white p-2 rounded-lg ">
        
          <p class="hover:text-anaranjado font-inter font-semibold">System</p>
        </span>
      </div>
    </button>
</div>