.loginTextBox{
    border-radius: 10px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    width: 270px;
    height: 40px;
    margin: 0;
}