
ion-content {
    background-color: #252422;
}
.registerRedirect{
    border-radius: 10px;
    background: #868179;

}

.OrangeContainer{
    background-color: #EB5E28;
    border-radius: 0px 40px 40px 0px;

    height: 80vh;
}

.loginButton{
    border-radius: 20px 0px 0px 20px;
    background: #000;
}
