

<body>
  
<img src="assets/logo/playToKeyLogo.png" alt="playToKeyLogo">

  
              <div class="BotonIniciar">
                <button class="custom-button">
                  <label class="div-lIniciar">Iniciar Sesion</label>
                </button>
              </div>
              <div class="BotonR">
                <button class="custom-button">
                  <label class="div-lRegistrar">Registrarse</label>
                </button>
              </div>

<h3>
  Compra llaves de steam y epic games de forma segura
</h3>

<div class="linea-blanca"></div>


</body>